---
import Layout from "../layouts/Layout.astro";
---

<script>
  const get100svh = () =>
    parseInt(getComputedStyle(document.getElementById("p100svh")!).height);
  const getTileSize = () =>
    parseInt(
      (getComputedStyle(document.getElementById("grid")!) as any).WebkitMaskSize
    );
  const calcEnTop = () => (get100svh() - 80) % getTileSize();
  const en = document.getElementById("company-name") as HTMLElement;

  const setEnTop = () => (en.style.top = `${calcEnTop()}px`);

  const debounce = <A extends any[], R>(
    func: (...args: A) => R,
    timeout: number
  ) => {
    let timer: number;
    return (...args: A) => {
      clearTimeout(timer);
      timer = setTimeout(() => func(...args), timeout);
    };
  };

  window.addEventListener("resize", debounce(setEnTop, 500));
  window.addEventListener("load", setEnTop);

  const hLineObserver = new IntersectionObserver(
    ([e]) => {
      if (e.isIntersecting) {
        document.getElementById("grid")!.style.background = "";
      } else {
        document.getElementById("grid")!.style.background = "none";
      }
    },
    {
      threshold: [1],
    }
  );
  hLineObserver.observe(document.getElementById("h-line-wrapper")!);

  const companyNameJaObserver = new IntersectionObserver(
    ([e]) => {
      if (e.isIntersecting) {
        document.getElementById("global-nav")!.style.display = "none";
      } else {
        document.getElementById("global-nav")!.style.display = "";
      }
    },
    {
      threshold: [0.3],
    }
  );
  companyNameJaObserver.observe(document.getElementById("company-name-ja")!);
</script>

<Layout title="Imaginary Void Lab">
  <div id="axis" role="presentation">
    <div id="v-line"></div>
    <div id="h-line-wrapper">
      <div id="h-line"></div>
    </div>
  </div>
  <nav id="global-nav" style="display: none;">
    <div id="nav-main">
      <a href="#principle">研究理念</a>
      <a href="#projects">活動内容</a>
      <a href="#about">研究所概要</a>
    </div>
    <div id="nav-name">
      <div class="large">
        <a href="/">Imaginary Void Lab</a>
      </div>
      <div class="small">
        <a href="/">IVL</a>
      </div>
    </div>
  </nav>
  <section id="first-view">
    <div id="grid"></div>
    <h1 id="company-name">
      <span id="company-name-en" lang="en">Imaginary<br />Void Lab</span>
      <span id="company-name-ja" lang="ja">無象空想研究所</span>
    </h1>
  </section>
  <div id="contents">
    <a id="principle" class="anchor"></a>
    <h2>研究理念</h2>
    <p>
      Imaginary Void
      Labは、空想と現実、そして存在しえないものという概念の探究を通じて、新たな可能性を発見することを目的としています。私たちは、現実の枠組みにとらわれることなく、空想の限りない可能性を探求し、それを実現するための研究を行っています。
    </p>
    <p>
      私たちが研究する分野は、主にソフトウェア、フィクション、哲学の三つに分かれます。ソフトウェアにおいては、実態を持たないソフトウェアが持つ可能性について研究を行い、フィクションにおいては、現実とは異なる仮想世界の可能性について研究を行います。哲学においては、無象空想学という独自の学問体系を確立することを目指し、空想と現実、そして存在しえないものについての議論を深めています。
    </p>
    <p>
      Imaginary Void
      Labの研究者たちは、自由で創造的な思考力を持ち、現状にとらわれることなく、新たな可能性を見出すために日々研究に取り組んでいます。私たちは、今後も研究の領域を広げ、多様な分野から知見を得ながら、Imaginary
      Void Labの理念に沿った研究を続けていきます。
    </p>
    <a id="projects" class="anchor"></a>
    <h2>活動内容</h2>
    <h3>仮想現実技術の開発・応用</h3>
    <p>
      近年、仮想現実技術の進化が著しいです。Imaginary&#32;Void&#32;Labでは、この技術を活用し、新たな空間や体験を創造する研究・開発を行い、それを教育や娯楽などの分野に応用することを目指します。
    </p>
    <h3>空想を活用した創造活動の支援</h3>
    <p>
      空想は、様々な創造活動において重要な役割を果たします。Imaginary&#32;Void&#32;Labでは、小説や映画などのフィクション作品、音楽や美術などの芸術作品、そして新しいアイデアを生み出すためのブレインストーミングなど、空想を活用した創造活動を支援することを目指します。
    </p>
    <h3>空想に関する調査・研究</h3>
    <p>
      空想は創造性や想像力を刺激するだけでなく、人々の行動や思考に大きな影響を与えることがあります。Imaginary&#32;Void&#32;Labでは、空想に関する研究を進め、その効果や可能性について探求します。また、空想についての調査も行い、歴史的、社会的、文化的背景などから空想の意義や役割について理解を深めることを目指します。
    </p>
    <h3>哲学的研究</h3>
    <p>
      Imaginary&#32;Void&#32;Labでは、哲学的アプローチを用いて、空想や現実、存在しえないものなどの概念についての議論を深めます。無象空想学という独自の学問体系を確立し、それを通じて、新たな哲学的洞察を得ることを目指します。
    </p>
    <h3>コミュニティづくり</h3>
    <p>
      Imaginary&#32;Void&#32;Labは、空想や創造活動に興味を持つ人々が集い、刺激し合う場となるよう、コミュニティづくりにも力を注いでいます。イベントやセミナーなどを通じて、さまざまな人々との交流を促し、新たな発見やアイデアが生まれる場を提供します。
    </p>
    <a id="about" class="anchor"></a>
    <h2>研究所概要</h2>
    <table style="border-spacing: 10px;">
      <tbody>
        <tr>
          <th>研究所名</th>
          <td>Imaginary Void Lab</td>
        </tr>
        <tr>
          <th>研究所長</th>
          <td>井淵 亮太郎</td>
        </tr>
        <tr>
          <th>設立年月日</th>
          <td>2021年03月04日</td>
        </tr>
        <tr>
          <th>連絡先</th>
          <td>lab@imaginary-void.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>© Imaginary Void Lab</footer>
  <div id="p100svh"></div>
</Layout>

<style>
  :root {
    --left: min(200px, calc(100svw * 0.1));
    --bottom: 80px;
    --tile-size: min(150px, calc(100vh * 0.15));
    --ja-font-size: min(100px, calc(100vh * 0.1));
    --en-font-size: min(120px, calc(100vh * 0.12));
    --grid-color: var(--accent-color);
  }

  #p100svh {
    height: 100svh;
    position: fixed;
    pointer-events: none;
  }

  .anchor {
    display: block;
    margin-top: -120px;
    padding-top: 120px;
  }

  #axis {
    pointer-events: none;
    position: absolute;
    --width: 15px;
    width: 100%;
    height: 100%;
    z-index: 1200;
  }

  #v-line {
    position: fixed;
    top: 30px;
    bottom: -500px;
    left: calc(var(--left) - var(--width) / 2);

    width: var(--width);
    background-color: var(--grid-color);
  }

  #v-line::before {
    content: "";
    display: block;
    background-color: var(--grid-color);
    width: 40px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: calc(-20px + var(--width) / 2);
    clip-path: polygon(50% 0%, 0% 100%, 50% 90%, 100% 100%);
  }

  #h-line-wrapper {
    position: sticky;
    top: -1px;
    height: 101px;
    margin-top: calc(100svh - var(--bottom) - var(--width) / 2 - 100px);
    width: calc(100% - 30px);
  }

  #h-line {
    position: absolute;
    bottom: calc(-1 * var(--width) + 1px);
    background-color: var(--grid-color);
    width: 100%;
    height: var(--width);
  }

  #h-line::before {
    content: "";
    display: block;
    background-color: var(--grid-color);
    width: 60px;
    height: 40px;
    position: absolute;
    top: calc(-20px + var(--width) / 2);
    right: -30px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 10% 50%);
  }

  #global-nav {
    position: fixed;
    width: 100%;
    padding-left: calc(var(--left) + 40px);
    padding-right: 60px;

    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--primary-white);
  }

  #nav-main {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px 20px;
  }

  #nav-main a {
    color: var(--primary-black);
    text-decoration: none;
    font-size: min(1.8em, calc(6svw));
    font-weight: 600;
  }

  #nav-name {
    container: nav-name / inline-size;
    flex-basis: 100%;
    flex-shrink: 100000000000;
    display: flex;
    justify-content: right;
  }

  #nav-name a {
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 1.5em;
    font-style: italic;
    align-self: flex-end;

    color: var(--secondary-accent-color);
    text-decoration: none;
    font-weight: 900;
    font-family: "Open Sans", "Shippori Antique";
  }

  @container nav-name (max-width: 250px) {
    #nav-name .small {
      display: contents;
    }

    #nav-name a {
      margin-right: -50px;
      margin-bottom: 10px;
    }

    #nav-name .large {
      display: none;
    }
  }

  @container nav-name (min-width: 250px) {
    #nav-name .small {
      display: none;
    }
    #nav-name .large {
      display: contents;
    }
  }

  #first-view {
    position: relative;
    z-index: 1100;
    top: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
  }

  #grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grid-color);
    -webkit-mask: url("/grid.svg");
    -webkit-mask-size: var(--tile-size);
    -webkit-mask-position: var(--left) calc(100svh - 80px);
  }

  #company-name {
    pointer-events: all;
    margin: 0;

    position: absolute;
    top: 0px;
    left: var(--left);
    right: 0;
    bottom: var(--bottom);
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #company-name-en {
    background: linear-gradient(
      90deg,
      var(--accent-color),
      var(--secondary-accent-color)
    );
    -webkit-background-clip: text;
    color: transparent;

    font-size: var(--en-font-size);
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 900;
    line-height: var(--tile-size);

    white-space: nowrap;

    display: inline-block;

    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;

    margin-top: calc(var(--tile-size) * 0.12);
  }

  #company-name-ja {
    background: linear-gradient(
      90deg,
      var(--accent-color),
      var(--secondary-accent-color)
    );
    -webkit-background-clip: text;
    color: transparent;

    font-size: var(--ja-font-size);
    font-family: "Shippori Antique";
    font-style: italic;
    font-weight: 700;
    line-height: var(--tile-size);
    white-space: nowrap;

    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;

    margin-bottom: 10px;
  }

  #contents {
    margin-top: 50px;
    margin-left: calc(var(--left) + 8svw);
    margin-right: calc(8svw);
    margin-bottom: 60svh;
  }

  #contents h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--primary-black);
  }

  #contents h3 {
    font-size: 1.5rem;
  }

  #contents p {
    max-width: 800px;
    text-indent: 1em;
  }

  footer {
    text-align: center;
    margin-bottom: 20px;
  }
</style>
