---
import Layout from "../layouts/Layout.astro";
---

<script>
  const get100svh = () =>
    parseInt(getComputedStyle(document.getElementById("p100svh")!).height);
  const getTileSize = () =>
    parseInt(
      (getComputedStyle(document.getElementById("grid")!) as any).WebkitMaskSize
    );
  const calcEnTop = () => (get100svh() - 80) % getTileSize();
  const en = document.getElementById("company-name") as HTMLElement;

  const setEnTop = () => (en.style.top = `${calcEnTop()}px`);

  const debounce = <A extends any[], R>(
    func: (...args: A) => R,
    timeout: number
  ) => {
    let timer: number;
    return (...args: A) => {
      clearTimeout(timer);
      timer = setTimeout(() => func(...args), timeout);
    };
  };

  window.addEventListener("resize", debounce(setEnTop, 500));
  window.addEventListener("load", setEnTop);

  const hLineObserver = new IntersectionObserver(
    ([e]) => {
      if (e.isIntersecting) {
        document.getElementById("grid")!.style.background = "";
      } else {
        document.getElementById("grid")!.style.background = "none";
      }
    },
    {
      threshold: [1],
    }
  );
  hLineObserver.observe(document.getElementById("h-line-wrapper")!);

  const companyNameJaObserver = new IntersectionObserver(
    ([e]) => {
      if (e.isIntersecting) {
        document.getElementById("global-nav")!.style.display = "none";
      } else {
        document.getElementById("global-nav")!.style.display = "";
      }
    },
    {
      threshold: [0.3],
    }
  );
  companyNameJaObserver.observe(document.getElementById("company-name-ja")!);
</script>

<Layout title="Imaginary Void Lab">
  <div id="axis" role="presentation">
    <div id="v-line"></div>
    <div id="h-line-wrapper">
      <div id="h-line"></div>
    </div>
  </div>
  <nav id="global-nav" style="display: none;">
    <div id="nav-main">
      <a href="#principle">研究理念</a>
      <a href="#projects">活動内容</a>
      <a href="#faq">FAQ</a>
      <a href="#about">研究所概要</a>
    </div>
    <div id="nav-name">
      <div class="large">
        <a href="/">Imaginary Void Lab</a>
      </div>
      <div class="small">
        <a href="/">IVL</a>
      </div>
    </div>
  </nav>
  <section id="first-view">
    <div id="grid"></div>
    <h1 id="company-name">
      <span id="company-name-en" lang="en">Imaginary<br />Void Lab</span>
      <span id="company-name-ja" lang="ja">空想架空研究所</span>
    </h1>
  </section>
  <div id="contents">
    <h2 id="principle" class="anchor">研究理念</h2>
    <p>
      Imaginary&#32;Void&#32;Labは、本研究所が架空のものであることを明らかにすることを目指し、その過程として人類の現実と空想の境界への理解を探求する研究所です。私たちは、現実と想像力が交差する点において、想像力と創造性の新たな地平を探求しています。
    </p>
    <p>
      私たちは、哲学的・心理学的研究、情報科学的研究、フィクション作品の分析、および研究成果を用いた創作活動を通じて、現実と想像の境界に対する理解を深めようと努めています。私たちのプロジェクトは、社会において現実と想像の境界がどのように認識され、理解されるかについての議論を促進し、新しい創造力を生み出すことを目指しています。
    </p>
    <p>
      Imaginary&#32;Void&#32;Labの研究者たちは、自由で創造的な思考力を持ち、現状にとらわれることなく、新たな可能性を見出すために日々研究に取り組んでいます。私たちは、今後も研究の領域を広げ、多様な分野から知見を得ながら、Imaginary&#32;Void&#32;Labの理念に沿った研究を続けていきます。
    </p>
    <h2 id="projects" class="anchor">活動内容</h2>
    <p>
      Imaginary&#32;Void&#32;Labは現実と想像の境界に挑戦する研究所です。本研究所が架空のものであることを明らかにするために、多角的アプローチからの研究を行っています。
    </p>
    <p>
      私たちの活動は、現実と想像をテーマにした横断的な調査研究と、活動を通じて明らかになってきた哲学的な問題の探求という二つの柱から成り立っています。設立当初は「本研究所の架空性」に焦点を当てた研究発表を行ってまいりましたが、その過程で、その研究自体が架空である可能性が明らかになり、大きな問題となりました。
    </p>
    <p>
      現在はこの問題の解決に向けて、架空とは何か、その類似の概念として空想や想像、また対比される概念としての実体や現実といった事柄に関して、多様な視点から研究やアウトリーチ活動を展開しています。
    </p>
    <h3>哲学的・心理学的研究</h3>
    <p>
      現実と虚構の区別に関する概念や理論を探求し、人々がこれらの境界をどのように認識・理解するのかについての研究を行っています。さらに、個人の価値観や文化的背景が現実と想像の境界に与える影響についても調査し、それらの要素がどのように相互作用しているかを明らかにしています。
    </p>
    <h3>情報科学的研究</h3>
    <p>
      仮想現実や拡張現実、架空の知能である人工知能などの技術開発を行い、人々が物理的実体を持たないデジタル世界とどのように相互作用するかについての研究を行っています。また、デジタル技術が現実と想像の境界を曖昧にする一方で、新たな価値や可能性を生み出すプロセスについても調査しています。
    </p>
    <h3>フィクション作品の分析</h3>
    <p>
      文学や映画などのフィクション作品において、現実と想像の境界がどのように描かれているのか、またそれがどのように人々の認識に影響を与えているのかを分析しています。さらに、フィクション作品が現実世界のイノベーションや発展にどのような影響を与えるかについても研究しています。
    </p>
    <h3>研究成果を用いた創作活動</h3>
    <p>
      上記の活動を通じて明らかになった研究成果を用いて、実際の創作活動に生かしています。さらに、現実と想像の境界を探求するイベントや展示会を開催し、参加者が研究成果に触れることで、自らの創造力を刺激し、新しいアイデアや作品を生み出す機会を提供しています。
    </p>
    <p>
      ※
      本プロジェクト自体がこうしたプロジェクトの創作活動の一環である可能性についても調査しています。
    </p>
    <h3>教育・普及活動</h3>
    <p>
      Imaginary Void
      Labでは、研究成果を広く社会に共有するための教育・普及活動にも力を入れています。学校やコミュニティにおけるワークショップやセミナーを通じて、現実と想像の境界に関する問題意識を高めることを目指しています。また、オンライン上での講義やディスカッションも積極的に行い、多様な人々と議論を交わすことで、研究の幅を広げています。
    </p>
    <h3>産業界との連携</h3>
    <p>
      私たちの研究成果は、現実と想像の境界を探求するさまざまな分野において、産業界との連携にも活かされています。例えば、エンターテイメント業界や広告業界、教育業界などで、新しいプロダクトやサービスの開発に関わるプロジェクトにおいて、私たちの研究成果が役立てられています。
    </p>
    <h2 id="faq" class="anchor">FAQ</h2>
    <h3>架空性に関する研究に関する具体的な研究成果は何ですか？</h3>
    <p>
      架空性に関する研究の進展により、現実と想像の境界は個人や文化によって異なる解釈があることが明らかになりました。また、科学技術の進歩によって、これらの境界がより曖昧になりつつあることも確認されています。
    </p>
    <h3>フィクション作品の分析で特に焦点を当てている分野はありますか？</h3>
    <p>
      フィクション作品の分析では、現実と想像の境界を巧みに扱っているさまざまなジャンルや作品に焦点を当てています。例えば、サイエンス・フィクション、ファンタジー、マジックリアリズムなどのジャンルなどがあり、具体的には『マトリックス』、『インセプション』、『ムルドックの庭』などの作品が実際に研究対象とされています。
    </p>
    <h3>研究成果は、他の分野にも応用できるのでしょうか？</h3>
    <p>
      はい、Imaginary&#32;Void&#32;Labの研究成果は、他の分野にも応用可能です。現実と想像の境界に関する研究は、例えば哲学、心理学、文学、映画学、美術、情報科学などの分野で役立てられることが期待されています。また、私たちの研究は、エンターテイメント業界や広告業界、教育業界においても新しいアイデアやインスピレーションを提供することができます。
    </p>
    <h3>研究所が取り組んでいる問題は、どのような意義があるのでしょうか？</h3>
    <p>
      Imaginary&#32;Void&#32;Labが取り組んでいる問題は、現実と想像の境界を理解し、それが個人や社会に与える影響を調査することによって、私たちが日常生活で直面するさまざまな課題への理解を深めることができます。また、この問題に取り組むことで、創造力や想像力を高め、新たな知識やアイデアを生み出すことができるため、文化や科学技術の発展にも寄与することが期待されています。
    </p>
    <h3>研究所のプロジェクトに参加するには、どのような方法がありますか？</h3>
    <p>
      Imaginary&#32;Void&#32;Labでは現在研究員を募集しています。求められる資質は「空白の世界に何かを生み出す想像力・創造力」があることです。本研究所の架空性を高めていくことに関心がある方は、研究所の代表メールアドレスまでお気軽にお問い合わせください。また、研究活動だけでなく、教育・普及活動やイベントの企画・運営、産業界との連携プロジェクトにも参加することができます。さらに、オンライン上で開催される講義やディスカッションイベントに参加することで、Imaginary
      Void Lab のプロジェクトに貢献することも可能です。
    </p>
    <a id="about" class="anchor"></a>
    <h2>研究所概要</h2>
    <table style="border-spacing: 10px;">
      <tbody>
        <tr>
          <th>研究所名</th>
          <td>Imaginary Void Lab / 空想架空研究所</td>
        </tr>
        <tr>
          <th>研究所長</th>
          <td>井淵 亮太郎</td>
        </tr>
        <tr>
          <th>設立年月日</th>
          <td>2021年03月04日</td>
        </tr>
        <tr>
          <th>連絡先</th>
          <td>lab@imaginary-void.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>© Imaginary Void Lab</footer>
  <div id="p100svh"></div>
</Layout>

<style>
  :root {
    --left: min(200px, calc(100svw * 0.1));
    --bottom: 80px;
    --tile-size: min(150px, calc(100vh * 0.15));
    --ja-font-size: min(100px, calc(100vh * 0.1));
    --en-font-size: min(120px, calc(100vh * 0.12));
    --grid-color: var(--accent-color);
  }

  #p100svh {
    height: 100svh;
    position: fixed;
    pointer-events: none;
  }

  .anchor {
    display: block;
    margin-top: -120px;
    padding-top: 160px;
  }

  #axis {
    pointer-events: none;
    position: absolute;
    --width: 15px;
    width: 100%;
    height: 100%;
    z-index: 1200;
  }

  #v-line {
    position: fixed;
    top: 30px;
    bottom: -500px;
    left: calc(var(--left) - var(--width) / 2);

    width: var(--width);
    background-color: var(--grid-color);
  }

  #v-line::before {
    content: "";
    display: block;
    background-color: var(--grid-color);
    width: 40px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: calc(-20px + var(--width) / 2);
    clip-path: polygon(50% 0%, 0% 100%, 50% 90%, 100% 100%);
  }

  #h-line-wrapper {
    position: sticky;
    top: -1px;
    height: 101px;
    margin-top: calc(100svh - var(--bottom) - var(--width) / 2 - 100px);
    width: calc(100% - 30px);
  }

  #h-line {
    position: absolute;
    bottom: calc(-1 * var(--width) + 1px);
    background-color: var(--grid-color);
    width: 100%;
    height: var(--width);
  }

  #h-line::before {
    content: "";
    display: block;
    background-color: var(--grid-color);
    width: 60px;
    height: 40px;
    position: absolute;
    top: calc(-20px + var(--width) / 2);
    right: -30px;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 10% 50%);
  }

  #global-nav {
    position: fixed;
    width: 100%;
    padding-left: calc(var(--left) + 40px);
    padding-right: 60px;

    height: 100px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: var(--primary-white);
  }

  #nav-main {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5px 20px;
  }

  #nav-main a {
    color: var(--primary-black);
    text-decoration: none;
    font-size: min(1.8em, calc(6svw));
    font-weight: 600;
  }

  #nav-name {
    container: nav-name / inline-size;
    flex-basis: 100%;
    flex-shrink: 100000000000;
    display: flex;
    justify-content: right;
  }

  #nav-name a {
    margin-bottom: 5px;
    margin-right: 10px;
    font-size: 1.5em;
    font-style: italic;
    align-self: flex-end;

    color: var(--secondary-accent-color);
    text-decoration: none;
    font-weight: 900;
    font-family: "Open Sans", "Shippori Antique";
  }

  @container nav-name (max-width: 250px) {
    #nav-name .small {
      display: contents;
    }

    #nav-name a {
      margin-right: -50px;
      margin-bottom: 10px;
    }

    #nav-name .large {
      display: none;
    }
  }

  @container nav-name (min-width: 250px) {
    #nav-name .small {
      display: none;
    }
    #nav-name .large {
      display: contents;
    }
  }

  #first-view {
    position: relative;
    z-index: 1100;
    top: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
  }

  #grid {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--grid-color);
    -webkit-mask: url("/grid.svg");
    -webkit-mask-size: var(--tile-size);
    -webkit-mask-position: var(--left) calc(100svh - 80px);
  }

  #company-name {
    pointer-events: all;
    margin: 0;

    position: absolute;
    top: 0px;
    left: var(--left);
    right: 0;
    bottom: var(--bottom);
    overflow-y: hidden;
    overflow-x: auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #company-name-en {
    background: linear-gradient(
      90deg,
      var(--accent-color),
      var(--secondary-accent-color)
    );
    -webkit-background-clip: text;
    color: transparent;

    font-size: var(--en-font-size);
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 900;
    line-height: var(--tile-size);

    white-space: nowrap;

    display: inline-block;

    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;

    margin-top: calc(var(--tile-size) * 0.12);
  }

  #company-name-ja {
    background: linear-gradient(
      90deg,
      var(--accent-color),
      var(--secondary-accent-color)
    );
    -webkit-background-clip: text;
    color: transparent;

    font-size: var(--ja-font-size);
    font-family: "Shippori Antique";
    font-style: italic;
    font-weight: 700;
    line-height: var(--tile-size);
    white-space: nowrap;

    width: fit-content;
    padding-right: 50px;
    padding-left: 50px;

    margin-bottom: 10px;
  }

  #contents {
    margin-top: 50px;
    margin-left: calc(var(--left) + 8svw);
    margin-right: calc(8svw);
    margin-bottom: 60svh;
  }

  #contents h2 {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--primary-black);
  }

  #contents h3 {
    font-size: 1.5rem;
  }

  #contents p {
    max-width: 800px;
    text-indent: 1em;
  }

  footer {
    text-align: center;
    margin-bottom: 20px;
  }
</style>
